@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@mixin hexagon {
  position: relative;
  border-radius: 0.6em/0.3em;
  margin: 1em auto;
  background: orange;
  height: 17.32rem;
  width: 10rem;
  transform: rotate(30deg);

  &::before,
  &::after {
    content: '';
    position: absolute;
    border-radius: inherit;
    background: inherit;
    height: inherit;
    width: inherit;
  }

  &::before {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  &::after {
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }
}

@mixin plus {
  background: #fff;
  height: clamp(3.125rem, 0.0258rem + 13.2231vw, 8.125rem);
  width: clamp(1rem, -0.1235rem + 4.7934vw, 2.8125rem);

  &::before {
    content: '';
    position: absolute;
    transform: rotate(90deg);
    background: inherit;
    height: inherit;
    width: inherit;
  }
}

@mixin square {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 0.5rem;
  background-color: #35b0f8;
  opacity: 0.6;
}

@mixin md {
  @media (max-width: 640px) {
    @content;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #997a7a;
  max-height: 100vh;
  min-height: 100vh;
  height: fit-content;
  width: 100vw;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

.container {
  position: relative;
  background-color: #029cf6;
  min-height: 100vh;
  height: fit-content;
  max-width: 61.25rem;
  width: 100%;
  overflow: hidden;

  .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 3.5rem;

    @include md {
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      height: 100vh;

      .images {
        max-height: 1px;
        height: 50%;
      }
    }

    .images {
      flex-shrink: 0;
      height: 100%;
      width: 50%;

      .img-1 {
        position: absolute;
        z-index: 10;
        top: clamp(-3rem, -4.5568rem + 8.9091vw, 3.125rem);
        right: clamp(7.5rem, -9.0806rem + 70.7438vw, 34.25rem);
        height: clamp(21.875rem, 13.546rem + 35.5372vw, 35.3125rem);
        width: clamp(20rem, 12.3683rem + 32.562vw, 32.3125rem);
      }

      .img-2 {
        position: absolute;
        z-index: 20;
        top: clamp(10.375rem, 1.3099rem + 38.6777vw, 25rem);
        left: clamp(6.0625rem, 4.9778rem + 4.6281vw, 7.8125rem);
        height: clamp(16rem, 9.8791rem + 26.1157vw, 25.875rem);
        width: clamp(14.125rem, 8.7402rem + 22.9752vw, 22.8125rem);
      }
    }

    .text {
      position: relative;
      z-index: 10;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding-bottom: clamp(2rem, -1.0992rem + 13.2231vw, 7rem);

      @include md {
        justify-content: flex-end;
        padding-left: 2rem;
      }

      .quote {
        padding-top: 9.75rem;
        padding-right: clamp(2rem, 0.1405rem + 7.9339vw, 5rem);
        font-size: clamp(1rem, 0.5351rem + 1.9835vw, 1.75rem);
        line-height: clamp(1.5rem, 0.7252rem + 3.3058vw, 2.75rem);
        font-weight: 600;
        color: #fff;
      }

      .author {
        p {
          text-transform: uppercase;
          letter-spacing: 0.06rem;
          font-size: clamp(0.875rem, 0.3326rem + 2.314vw, 1.75rem);
          line-height: clamp(1.0625rem, 0.4039rem + 2.8099vw, 2.125rem);
          font-weight: 700;
          color: #ffde05;
        }
        span {
          letter-spacing: 0.06rem;
          font-size: clamp(0.75rem, 0.5176rem + 0.9917vw, 1.125rem);
          line-height: clamp(0.875rem, 0.5651rem + 1.3223vw, 1.375rem);
          font-weight: 500;
          color: #fff;
        }
      }
    }
  }
}

.bg {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  height: 50%;
  width: 50%;

  .hexa-bg {
    @include hexagon;
    position: absolute;
    bottom: -130%;
    left: 50%;
    transform: translateX(-50%) scale(5) rotate(30deg);
    background: #0277d4;
    scale: 1;

    @include md {
      bottom: -180%;
    }
  }
}

.hexa-1 {
  @include hexagon;
  position: absolute;
  z-index: 20;
  background: #03b8f8;
  opacity: 0.3;
  scale: 0.6;
  left: clamp(15.5rem, 13.1756rem + 9.9174vw, 19.25rem);
  @include md {
    scale: 0.2;
  }
}

.hexa-2 {
  @include hexagon;
  position: absolute;
  scale: 0.3;
  background: #0353b3;
  right: 15%;
  bottom: 30%;

  @include md {
    display: none;
  }
}

.hexa-3 {
  @include hexagon;
  position: absolute;
  scale: 0.3;
  background: #027cd8;
  right: 0;
  bottom: 40%;
	transform: translateX(170%);

  @include md {
    display: none;
  }
}

.plus-1 {
  @include plus;
  position: absolute;
  top: clamp(1.5rem, 11.219rem + -15.8678vw, 7.5rem);
  right: 3%;
}

.plus-2 {
  @include plus;
  position: absolute;
  bottom: -1rem;
  left: clamp(11.5rem, -0.3543rem + 51vw, 31rem);
  background: #9ac9ee;
  height: clamp(2.5rem, -0.0181rem + 10.7438vw, 6.5625rem);
  width: clamp(0.9375rem, 0.1627rem + 3.3058vw, 2.1875rem);
}

.square {
  @include square;
}

.square1 {
  width: 60px;
  height: 60px;
  bottom: 25%;
  right: 10%;
}

.square2 {
  width: 40px;
  height: 40px;
  bottom: 15%;
  right: 25%;
}

.square3 {
  width: 20px;
  height: 20px;
  bottom: 25%;
  right: 23%;
}

.square4 {
  width: 70px;
  height: 70px;
  bottom: 50%;
  right: 45%;
}
